[submodule ".xmonad/xmonad-git"]
  path = .xmonad/xmonad-git
  url = https://github.com/xmonad/xmonad
[submodule ".xmonad/xmonad-contrib"]
  path = .xmonad/xmonad-contrib
  url = https://github.com/xmonad/xmonad-contrib
[submodule ".xmonad/xmobar-git"]
  path = .xmonad/xmobar-git
  url = https://github.com/jaor/xmobar
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".xmonad/xmonad-themes"]
  path = .xmonad/xmonad-themes
  url = https://github.com/CyberGsus/xmonad-themes
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/CyberGsus/neovim-setup
	branch = lua
[submodule ".zsh/autocomplete"]
	path = .zsh/autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".zsh/autosuggestions"]
	path = .zsh/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/syntax-highlighting"]
	path = .zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
