[submodule ".xmonad/xmonad-git"]
  path = .xmonad/xmonad-git
  url = https://github.com/xmonad/xmonad
[submodule ".xmonad/xmonad-contrib"]
  path = .xmonad/xmonad-contrib
  url = https://github.com/xmonad/xmonad-contrib
[submodule ".xmonad/xmobar-git"]
  path = .xmonad/xmobar-git
  url = https://github.com/jaor/xmobar
[submodule "/home/cyber/.config/nvim"]
	path = /home/cyber/.config/nvim
	url = https://github.com/CyberGsus/neovim-setup
[submodule "/home/cyber/.tmux/plugins/tpm"]
	path = /home/cyber/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
